{% comment %}
  https://github.com/jekyll/jekyll-figure
  https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/figure
  https://github.com/katydecorah/font-library
  Set as variable: {% assign foo = "foo.jpg" | figure: "caption for foo" %}
  The full implementation includes:
  - a figure with an optional link
  - an image with a wrapper and description
  - optional lazy-load
  - classes & figcaption
  The format is:
{% endcomment %}

{%- assign img_path = include.path | remove: '@2x' -%}
{%- assign width_ratio = null -%}
{%- assign height_ratio = null -%}

{% if include.class or include.zoomable %}
  <div class="img-wrapper {{ include.class }}{% if include.zoomable %} zoomable{% endif %}">
{% endif %}

<img
  {% if include.loading %}
    loading="{{ include.loading }}"
  {% endif %}
  {% if include.sizes %}
    sizes="{{ include.sizes }}"
  {% endif %}
  {% if include.lazy %}
    data-src="{{ img_path | relative_url }}"
    class="lazyload{% if include.class %} {{ include.class }}{% endif %}"
  {% elsif include.cache_bust %}
    src="{{ img_path | relative_url | bust_file_cache }}"
  {% else %}
    src="{{ img_path | relative_url }}"
  {% endif %}
  {% if include.alt %}
    alt="{{ include.alt }}"
  {% endif %}
  {% if include.title %}
    title="{{ include.title }}"
  {% endif %}
  {% if include['min-width'] %}
    style="
      min-width: {{ include.min-width }};
      {% if include.max-width %} max-width: {{ include.max-width }}; {% endif %}
    "
  {% endif %}
  {% if include.id %}
    id="{{ include.id }}"
  {% endif %}
  {% if include.width_ratio %}
    width="{{ include.width_ratio }}"
  {% endif %}
  {% if include.height_ratio %}
    height="{{ include.height_ratio }}"
  {% endif %}
>

{% if include.class or include.zoomable %}
  </div>
{% endif %}

{% if include.caption %}
  <figcaption class="caption">{{ include.caption }}</figcaption>
{% endif %}
